{% load static %}

<!DOCTYPE html>
<html lang="fr" >
<head>
  <meta charset="UTF-8">
  <title>Ajout des donnees</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="{% static 'asset/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'style2.css' %}">
<!--<link rel="stylesheet" href="{% static 'font-awesome.min.css' %}">-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">

</head>

<body>
<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
            <h3>Ajout des produits</h3>
            <p class="blue-text">Veuillez noter que <br> tous les champs sont obligatoires.</p>
            <div class="card">
                <h5 class="text-center mb-4">Powering world-class companies</h5>
                    <form class="form-card" method="POST" enctype="multipart/form-data"><!--enctype="multipart/form-data" Permet de gerer les fichiers medias-->

                        {% csrf_token %}<!--Gere la securité du formulaire-->
                        
                        {% if messages %}
                            <ul class="messages">
                                
                                {% for message in messages   %}
                                    
                                <li  {% if message.tags %} class="{ message.tags }"  {% endif %} style="color: red;">
                                    {{message}}
                                </li>
                                      
                                {% endfor %}
                            </ul>
                        {% endif %}
                            
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> 
                            <label class="form-control-label px-3">Le nom du produit<span class="text-danger"> *</span></label>
                            {{form.name}}
                            <div class="text-danger">  {{form.name.errors}}</div>
                            {% comment %} <input type="text" id="name" name="name" placeholder="Entrez le nom du produit" onblur="validate(1)" required> 
                             {% endcomment %}
                            {% if errors.name %}
                            <div class="=error" style="color: red;">
                                <p>{{error.name}}</p>
                            </div>
                            {% endif %}
                                
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Selectonnez la categorie<span class="text-danger"> *</span></label> 
                            {% comment %} <select name= "Category" id="Category" required>

                                {% for Category in Category %}
                                <option value="{{Category.pk}}"> {{Category.name}}</option>
                                {% endfor %}
                            </select> {% endcomment %}
                            {{form.Category}}
                            <div class="text-danger">  {{form.Category.errors}}</div>
                            {% if errors.category %}
                            <div class="=error" style="color: red;">
                                <p>{{error.category}}</p>
                            </div>
                            {% endif %}

                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Le prix du produit<span class="text-danger"> *</span></label>
                             {% comment %} <input type="text" id="price" name="price" placeholder="Entrez le prix du produit" onblur="validate(3)" required>{% endcomment %}
                             {{form.price}}
                             <div class="text-danger">  {{form.price.errors}}</div>

                             {% if errors.price %}
                             <div class="=error" style="color: red;">
                                 <p>{{error.price}}</p>
                             </div>
                             {% endif %}
                            </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">La quantité du produit<span class="text-danger"> *</span></label> 
                            {% comment %} <input type="text" id="quantite" name="quantite" placeholder="Entrez la quantité du produit" onblur="validate(4)" required>  {% endcomment %}
                            {{form.quantite}}
                            <div class="text-danger">  {{form.quantite.errors}}</div>

                            {% if errors.quantite %}
                             <div class="=error" style="color: red;">
                                 <p>{{error.quantite}}</p>
                             </div>
                             {% endif %}
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Description du produit<span class="text-danger"> *</span></label> 
                            {% comment %} <input type="text" id="description" name="description" placeholder="Donnez une petite description du produit" onblur="validate(5)" required>  {% endcomment %}
                            {{form.description}}
                            <div class="text-danger">  {{form.description.errors}}</div>

                            {% if errors.description %}
                            <div class="=error" style="color: red;">
                                <p>{{error.description}}</p>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-6 flex-column d-flex"> <label class="form-control-label px-3">La date d'expiration  du produit<span class="text-danger"> *</span></label> 
                            {% comment %} <input type="text" id="date_expiration" name="date_expiration" placeholder="Entrez la date à laquelle le produit sera expiré" onblur="validate(6)" required>  {% endcomment %}
                            
                            {{form.date_expiration}}
                            <div class="text-danger">  {{form.date_expiration.errors}}</div>

                            {% if errors.date_expiration %}
                            <div class="=error" style="color: red;">
                                <p>{{error.date_expiration}}</p>
                            </div>
                            {% endif %}
                        
                        </div>
                        <div class="form-group col-6 flex-column d-flex"> <label class="form-control-label px-3">Image du produit <span class="text-danger"> *</span></label> 
                            {% comment %} <input type="file" id="image" name="image" onblur="validate(6)" required>  {% endcomment %}
                            {{form.image}}
                            <div class="text-danger">  {{form.image.errors}}</div>

                            {% if errors.image %}
                            <div class="=error" style="color: red;">
                                <p>{{error.image}}</p>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="form-group col-sm-6"> 
                            <input type="submit" class="btn-block btn-primary" value="Enregistrer">
                        <!--<button type="submit" class="btn-block btn-primary">
                            </button> </div>-->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>

<!-- partial -->
<script  src="{% static 'scrip2.js' %}"></script>
<script src="{% static 'bootstrap.min.js' %}"></script>

</html>